.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.title {
  display: inline;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgb(38, 172, 172);
  color: white;
}

.text {
  margin-top: 20px;
  font-size: 18px;
}
